<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAc3N7tXegS9tXOzHIm_rl5IlJzOS9GdxY</string>
	<key>GCM_SENDER_ID</key>
	<string>28271795580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldenheart.staff</string>
	<key>PROJECT_ID</key>
	<string>goldenheart-3372b</string>
	<key>STORAGE_BUCKET</key>
	<string>goldenheart-3372b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28271795580:ios:360bc9ebc13c7537b418f9</string>
</dict>
</plist>