<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSApplicationCategoryType</key>
    <string></string>

    <key>API_KEY</key>
    <string>AIzaSyAc3N7tXegS9tXOzHIm_rl5IlJzOS9GdxY</string>

    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>com.goldenheart.staff.refresh</string>
    </array>

    <key>BUNDLE_ID</key>
    <string>com.goldenheart.staff</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>

    <key>CFBundleDisplayName</key>
    <string>Goldenheart Staff</string>

    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>hi</string>
    </array>

    <key>CFBundleName</key>
    <string>com.goldenheart.staff</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>

    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <key>GCM_SENDER_ID</key>
    <string>28271795580</string>

    <key>GOOGLE_APP_ID</key>
    <string>1:28271795580:ios:360bc9ebc13c7537b418f9</string>

    <key>IS_ADS_ENABLED</key>
    <false/>

    <key>IS_ANALYTICS_ENABLED</key>
    <false/>

    <key>IS_APPINVITE_ENABLED</key>
    <true/>

    <key>IS_GCM_ENABLED</key>
    <true/>

    <key>IS_SIGNIN_ENABLED</key>
    <true/>

    <!-- Microphone Usage Description -->
    <key>NSMicrophoneUsageDescription</key>
    <string>App needs microphone access for in-app calls using Agora SDK.</string>

    <!-- Contacts Usage Description -->
    <key>NSContactsUsageDescription</key>
    <string>App would like to access your contacts for communication and in-app calls.</string>

    <!-- Photo Library Usage Description -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>App needs access to your photo library to upload profile pictures.</string>

    <!-- Camera Usage Description -->
    <key>NSCameraUsageDescription</key>
    <string>This app uses your camera for video calls and uploading profile pictures.</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>lab7.invoidea.in</key>
            <dict>
                <key>NSIncludesSubdomains</key>
                <true/>
                <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSTemporaryExceptionMinimumTLSVersion</key>
                <string>TLSv1.0</string>
            </dict>
        </dict>
    </dict>

    <key>io.flutter.embedded_views_preview</key>
    <string>yes</string>

    <key>PROJECT_ID</key>
    <string>goldenheart-3372b</string>

    <key>STORAGE_BUCKET</key>
    <string>goldenheart-3372b.appspot.com</string>

    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>

    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
    </array>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>

    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>

    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
</dict>
</plist>
